*{
	padding: 0px;
	right: 0px;
	top: 0px;
}
@media screen and (min-width: 320px){
	#goback{
		width: 90%;
	}
	.thingy{
		width: 100%;
	}
	#bottomBar{
		height: 150px;
	}
	#links{
		height: 10px;
		margin-top: 1790px;
		margin-right: 5%;
	}
	#links.index{
		margin-top: 1650px;
	}
	#links.foto{
		margin-top: 1090px;
	}
	#links.progetti{
		margin-top: 880px;
	}
	#cap{
		margin-left: 5%;
	}
	#cap .thingytitle{
		margin-left: 20%;
	}
	#cap.thingy{
		width: 90%;
	}
	#links.frecce{
		margin-top: 1000px;
	}
	#links.auto{
		margin-top: 690px;
	}
	#links.paesaggi{
		margin-top: 690px;
	}
}
@media screen and (min-width: 1224px){
	.thingy
		width: 50%;
	}
	#goback{
		width: 15%;
	}
	#goback a{
		text-decoration: none;
		color: black;
	}
	#el2{
		margin-left: 50%;
	}
	#bottomBar{
		height: 100px;
	}
	#links{
		height: 50px;
		margin-top: 1725px;
		margin-right: 30px;
	}
	#links.index{
		margin-top: 1590px;
	}
	#links.foto{
		margin-top: 1030px;
	}
	#links.progetti{
		margin-top: 685px;
	}
	#cap{
		margin-left: 25%;
	}
	#cap .thingytitle{
		margin-left: 20%;
	}
	#links.frecce{
		margin-top: 830px;
	}
	#links.auto{
		margin-top: 630px;
	}
	#links.paesaggi{
		margin-top: 630px;
	}
}

body{
	height: 300%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	top: 0px;
	right: 0px;
	background-image: linear-gradient(to bottom right, red, orange, orange, yellow);
}
#bar{
	display: flex;
	width: 95%;
	height: 100px;
	margin-left: 2.5%;
	margin-top: 10px;
	background-color: black;
	border-radius: 10px;
}
#bar h1{
	padding-top: 10px;
	margin-left: 10px;
	color:white;
}
#bar img{
	padding-top: 10px;
	margin-left: 10px;
	width: 80px;
	height: 80px;
}
#goback{
	margin-top: 50px;
	margin-left: 5%;
	text-align: center;
	text-decoration: none;
	background-color: fuchsia;
	border-radius: 15px;
	border-color: black;
	border-width: 5px;
	border-style: solid;
}

#container{
	width: 90%;
	margin-left: 5%;
}
.thingy{
	background-color: rgba(0,0,0,0.5);
	border-radius: 25px;
	height: 400px;
	margin-top: 50px;
}
.thingy .thingytitle{
	padding-top: 20px;
	margin-left: 20%;
	color: white;
}

.esplora{
	display: flex;
	text-decoration: none;
	background-color: fuchsia;
	width: 125px;
	border: 5px;
	border-color: indigo;
	border-style: solid;
	margin-left: 60%;
	margin-top: -65px;
}
.esplora a{
	text-decoration: none;
}
.esplora h1{
	margin-top: -20px;
	margin-bottom: 0px;
	margin-left: 5px;
	padding-top: 20px;
	color: black;
}
#fotolinks{
	background-color: rgba(0,0,0,0.5);
	width: 50%;
	margin-left: 25%;
	margin-top: 100px;
	border-radius: 25px;
	padding-bottom: 1px;
	text-align: center;
}
#flh1{
	padding-top: 25px;
	margin-bottom: 50px;
	font-size: 50px;
}
.link{
	background-color: fuchsia;
	width: 50%;
	margin-left: 25%;
	border-radius: 25px;
	margin-bottom: 50px;
	border: 5px;
	border-color: indigo;
	border-style: solid;
}
.link a{
	text-decoration: none;
	color: black;
	text-align: center;
}
#bottomBar{
	display: flex;
	width: 95%;
	margin-left: 2.5%;
	margin-top: 100px;
	background-color: black;
	border-radius: 10px;
	margin-bottom: 10px;
}
#bottomBar h1{
	padding-top: 10px;
	margin-left: 10px;
	color:white;
}
#bottomBar img{
	padding-top: 10px;
	margin-left: 10px;
	width: 80px;
	height: 80px;
}
#links{
	width: 270px;
	position: absolute;
}
#yt{
	display: inline-block;
	height: 100%;
	padding-right: 5%;
}
#ig{
	display: inline-block;
	height: 100%;
	padding-right: 5%;
}
#github{
	display: inline-block;
	height: 100%;
	padding-right: 5%;
}
#twitch{
	display: inline-block;
	height: 100%;
	padding-right: 5%;
}
#yt img{
	width: 64px;
	height: 45px;
	padding: 0px;
	margin-left: 0px;
}
#ig img{
	width: 45px;
	height: 45px;
	padding: 0px;
	margin-left: 0px;
}
#github img{
	width: 45px;
	height: 45px;
	padding: 0px;
	margin-left: 0px;
}
#twitch img{
	width: 45px;
	height: 45px;
	padding: 0px;
	margin-left: 0px;
}