*{
	padding: 0px;
	right: 0px;
	top: 0px;
}
@media screen and (min-width: 440px) and (max-width: 1244px){
	#goback{
		width: 90%;
	}
	#cap{
		margin-left: 5%;
	}
	#cap .thingytitle{
		margin-left: 20%;
	}
	#cap.thingy{
		width: 90%;
	}
}
@media screen and (min-width: 1224px){
	#goback{
		width: 15%;
	}
	#goback a{
		text-decoration: none;
		color: black;
	}
	#cap{
		margin-left: 25%;
	}
	#cap .thingytitle{
		margin-left: 20%;
	}
}

body{
	height: 300%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	top: 0px;
	right: 0px;
	background-image: linear-gradient(to bottom right, red, orange, orange, yellow);
}
#goback{
	margin-top: 50px;
	margin-left: 5%;
	text-align: center;
	text-decoration: none;
	background-color: fuchsia;
	border-radius: 15px;
	border-color: black;
	border-width: 5px;
	border-style: solid;
}
#fotolinks{
	background-color: rgba(0,0,0,0.5);
	width: 50%;
	margin-left: 25%;
	margin-top: 100px;
	border-radius: 25px;
	padding-bottom: 1px;
	text-align: center;
}
#flh1{
	padding-top: 25px;
	margin-bottom: 50px;
	font-size: 50px;
}
.link{
	background-color: fuchsia;
	width: 50%;
	margin-left: 25%;
	border-radius: 25px;
	margin-bottom: 50px;
	border: 5px;
	border-color: indigo;
	border-style: solid;
}
.link a{
	text-decoration: none;
	color: black;
	text-align: center;
}